@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

$color-very-dark-blue:hsl(233, 47%, 7%);
$color-dark-desaturated-blue:hsl(244, 38%, 16%);
$color-soft-violet:hsl(277, 64%, 61%);

$color-white:hsl(0, 0%, 100%);
$color-slightly-transparent:hsla(0, 0%, 100%, 0.75);
$color-slightly-transparent-2:hsla(0, 0%, 100%, 0.6);
$font-famili-inter:'Inter',sans-serif;
$font-famili-deca:'Lexend Deca',sans-serif;
$color-soft-violet-2: hsla(277, 100%, 50%, 0.301);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $color-very-dark-blue;
}
html{
    font-size: 10px;
}
main{
    display: flex;
    justify-content: space-between;
    margin: 10rem auto;
    background-color: $color-dark-desaturated-blue;
    width: 75%;
    height: 44.6rem;
    border-radius: .6rem;
    overflow: hidden;
    .container-left{
        position: relative;
        width: 50%;
        margin: 8rem;
        h1{
            font-size: 4.3rem;
            font-weight: 700;
            font-family: $font-famili-inter;
            color: $color-white;
            min-width: 50rem;
            span{
                color: $color-soft-violet;
            }
        }
        p{
            margin-top: 2.5rem;
            font-size: 1.7rem;
            width: 90%;
            min-width: 50rem;
            font-family: $font-famili-inter;
            color: $color-slightly-transparent-2;
        }
        .container-stats{
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 90%;
            bottom: 0;
            font-family: $font-famili-inter;
            text-align: center;
            text-transform: uppercase;
            h2{
                font-size: 2.5rem;
                font-weight: 700;
                color: $color-white;
            }
            .box{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 4rem;
                span{        
            }
            }
            color: $color-slightly-transparent-2;     
        }
    }
    .container-right{
        width: 54rem;
        background-image: url(images/image-header-desktop.jpg);
        background-repeat: no-repeat;
        background-position: 100% 0 ;
        position: relative;      
       .image-color{
             background-color: $color-soft-violet-2;
             position: absolute;
             width: 100%;
             height: 100%;     
         }
    }
}

@media screen and (max-width: 986px) {
    main {
            flex-direction: column-reverse; 
            margin: 5rem auto; 
            width: 75%; 
            height: auto; 
            min-width: 30rem; 
            .container-left {
                width: auto; 
                margin: 3rem; 
    
                h1 {
                    text-align: center;
                    font-size: 2.5rem; 
                    min-width: 10rem; 
                    margin-top: 2rem;           
                }
                p {
                    text-align: center;
                    width: 100%;
                    min-width: 10rem; 
                }
                .container-stats {
                    margin-top: 5rem; 
                    position: relative;  
                    flex-direction: column; 
                    width: 100%; 
                    height: 20rem;
                }
            }
            .container-right {
                height: 20rem; 
                width: 100%; 
                background-image: url(images/image-header-mobile.jpg); 
                background-size: 100%; 
                min-width: 30rem;
            }
        }
}